<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Common Mapper -->
<mapper namespace="DemoMapper">
	
	<sql id="conditionSql">
		<where>
			<if test=" num != null and num != '' ">
				num = #{num}
			</if>
			<if test=" name != null and name != '' ">
				AND name like '%' || #{name} || '%'
			</if>
		</where>
	</sql>
	
	<insert id="insert" parameterType="org.cy.thorn.demto.entity.Demo">
		insert into t_demo(name,num) values (#{name},#{num})
	</insert>
	
	<select id="pageSearch" parameterType="hashmap"
		resultType="org.cy.thorn.web.demo.controller.Demo">
		<include refid="CommonMapper.pagingStart" />
		select * from t_demo
		<include refid="conditionSql" />
		<include refid="CommonMapper.sortInfo" />
		<include refid="CommonMapper.pagingEnd" />
	</select>
	
	<select id="pageSearch-count" resultType="long">
		select count(*) from t_demo
		<include refid="conditionSql" />
	</select>
	
	
</mapper>