<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ResourceMapper">
	
	<cache eviction="LRU" type="org.thorn.dao.mybatis.cache.CustomCache">
		<property name="springBean" value="ehcacheService" />
	</cache>

	<resultMap id="BaseResultMap" type="org.thorn.resource.entity.Resource">
		<id column="SOURCECODE" property="sourceCode" jdbcType="DECIMAL" />
		<result column="SOURCENAME" property="sourceName" jdbcType="VARCHAR" />
		<result column="SOURCEURL" property="sourceUrl" jdbcType="VARCHAR" />
		<result column="ISLEAF" property="isleaf" jdbcType="VARCHAR" />
		<result column="ISSHOW" property="isShow" jdbcType="VARCHAR" />
		<result column="PARENTSOURCE" property="parentSource" jdbcType="DECIMAL" />
		<result column="SORTNUM" property="sortNum" jdbcType="DECIMAL" />
		<result column="ICONSCLS" property="iconsCls" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		s.SOURCECODE, s.SOURCENAME, s.SOURCEURL, s.ISLEAF,
		s.ISSHOW, s.PARENTSOURCE,s.SORTNUM, s.ICONSCLS
  	</sql>

	<sql id="Where_Clause">
		<where>
			<if test="sourceCode != null">
				AND s.SOURCECODE = #{sourceCode,jdbcType=DECIMAL}
      </if>
			<if test="sourceName != null">
				AND s.SOURCENAME like '%' || #{sourceName,jdbcType=VARCHAR} || '%'
      </if>
			<if test="isleaf != null">
				AND s.ISLEAF = #{isleaf,jdbcType=VARCHAR}
      </if>
			<if test="isShow != null">
				AND s.ISSHOW = #{isShow,jdbcType=VARCHAR}
      </if>
			<if test="parentSource != null">
				AND s.PARENTSOURCE = #{parentSource,jdbcType=DECIMAL}
      </if>
		</where>
	</sql>
	
	<select id="queryList" parameterType="hashmap" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SYS_RESOURCE s
		<include refid="Where_Clause" />
		<include refid="MySQLCommonMapper.sortInfo" />
	</select>
	
	<!-- 
	<select id="queryByRole" parameterType="string" resultMap="BaseResultMap">
		select r.SOURCECODE from T_SYS_ROLE_RES r where r.ROLECODE = 
	</select>
	 -->
</mapper>